


body {
  font-family: sans-serif;
  /* background-color: #f9fbfd; */

}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color:rgb(110, 22, 226); 
  /* border-style: solid;
  border-width: 10px solid black;
  border: 16px; */
  height: 50px;
  padding: 5px;
  background-color: khaki;
  width: 100%;
  
}

h1 {
  font-size: 70px;

}

.timer {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: rgb(28, 28, 102);
  padding-top: 30px, 20px, 100px, 50px;
}


#principio {
  display: flex;
  margin:auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 70vh;
  background-color: khaki;
  border-style: solid;
  border: 16px;
  border-color: olive; 
  text-align: center;
  padding: 5px;
}

#highscores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vh;
  max-width: 80%;
  height: 70vh;
  background-color: khaki;
  border-style: solid;
  border: 16px;
  border-color: olive; 

}

#finito, #pregunta {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align:bottom;
  width: 80vh;
  max-width: 80%;
  height: 70vh;
  background-color: rgb(135, 148, 164);
  border-style: solid;
  border: 16px;
  border-color: olive; 
  text-align: center;
  margin-top: 60px;

}

#repuesta {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 40px;
 
}
h2 {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(28, 28, 102);
  padding-top: 100px, 50px, 100px, 50px;
  
  
 
}

button, .gobackbtn {
  
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  line-height: 1;
  position: relative;
  padding: 10px;
  background: #1abebf;
  background-image: linear-gradient(122deg,#37e0e0,#1abebe);
  background-size: 300px,300px,100%;
  color: #fff;
  border-bottom: 5px solid #ffc600;
  box-shadow: 0 0 3px 3px rgb(0 0 0 / 5%);
  text-shadow: 0 0 3px rgb(0 0 0 / 30%);
  transition: all .3s;
  :hover{
      box-shadow: 0 0 3px 3px rgb(0 0 0 / 8%);
  }
  
}


p {
  padding: 50px;
  color:steelblue;
  font-weight:bold;
  font-style: italic;
}

.final {
  padding: 10px;
  color:midnightblue;
  font-size: 20px;
}

.finalsc {
  font-size: 40px;
  color: midnightblue;
}

#initials {
  height: 30px;
}

.correct {
  display: none;
}

.wrong {
  display: none
}

.hide {
  display: none;
}

.show {
  display: block;
}

#enterinit {
  display: flex;
  padding: 20;
  text-align: center;
  margin: auto;
  
}
