


body {
  font-family: sans-serif;
  /* background-color: #f9fbfd; */

}

header {
  display: inline-block;
  flex-wrap: wrap;
  align-content: space-between;
  color:rgb(110, 22, 226); 
  /* border-style: solid;
  border-width: 10px solid black;
  border: 16px; */
  width: 80vh;
  max-width: 80%;
  height: 50px;
  padding: 5px;
  background-color: khaki;
  
}
.scores-header {
  position:absolute;
  top: 15px;
  left: 20px;
}

h1 {
  font-size: 50px;
}

#timer {
  position:fixed;
  top: 5px;
  right: 300px;
}

#principio, #finito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vh;
  max-width: 80%;
  height: 70vh;
  background-color: khaki;
  border-style: solid;
  border: 16px;
  border-color: olive; 
  /* border-radius: 10px; */
  text-align: center;
}

#highscores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vh;
  max-width: 80%;
  height: 70vh;
  background-color: khaki;
  border-style: solid;
  border: 16px;
  border-color: olive; 
  /* border-radius: 10px;
  text-align: center;
} */
}

#finito, #pregunata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vh;
  max-width: 80%;
  height: 70vh;
  background-color: rgb(135, 148, 164);
  border-style: solid;
  border: 16px;
  border-color: olive; 
  /* border-radius: 10px;
  text-align: center;
} */
}
#repuesta {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}
h2 {
  font-size: 40px;
  color: midnightblue;
  padding-top: 200px;
  padding-left: 100px;
  /* float: left; */
}

#button1, #button2, #button3, #button4 {
  
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  line-height: 1;
  position: relative;
  padding: 20px;
  background: #1abebf;
  background-image: linear-gradient(122deg,#37e0e0,#1abebe);
  background-size: 300px,300px,100%;
  color: #fff;
  border-bottom: 5px solid #ffc600;
  box-shadow: 0 0 3px 3px rgb(0 0 0 / 5%);
  text-shadow: 0 0 3px rgb(0 0 0 / 30%);
  transition: all .3s;
  :hover{
      box-shadow: 0 0 3px 3px rgb(0 0 0 / 8%);
  }
  
}


p {
  padding: 50px;
  color:steelblue; 
  font-weight: 100;
  font-style: italic;
}


/* #pregunta {
  display: none;
} */

.correct {
  display: none;
}

.wrong {
  display: none
}


